body {
  background: #eeeeee;
  color: #444;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#page {
  margin: 0 auto;
  width: 70%;
  height: calc(100% - 160px);
  background: #f5f5f5;
  padding: 40px;
  margin: 40px auto;
}

/*#title{
  width: 100%;
  text-align: center;
}*/

#filter {
  background: #f5f5f5;
  width: 100%;
  border: none;
  height: 65px;
  font-size: 50px;
  color: #444;
  border-bottom: 3px solid #444;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-style: italic;
}

::-webkit-input-placeholder {
     color: #bbb;
   }

#items {
  padding-top: 100px;
  position: relative;
  width: calc(100% - 3px);
  height: calc(100% - 200px);
  margin-top: 20px;
}

.item {
  position: relative;
}

.item:hover{
  cursor: pointer;
}

.album{
  width: 10%;
  height: 10%;
  position: absolute;
  top: calc(100% - 10%);
  left: calc(100% - 10%);
  background: #eee;
  z-index: 5;
}


